<div class="container">    

    <div class="spotify-data">
        <a href="/users/dashboard">
            <button>Back to Profile</button>
        </a>
        <a href="/users/topartists">
            <button>Top 50 Artists</button>
        </a>
        <a href="/users/dailyplaylist">
            <button>Daily Playlist</button>
        </a>
    </div>

    <div class="results">
        <h2>Daily Playlist</h2>
        <div class="results-container">
            {{#each dailyPlaylist}}
                <div class="track-item">
                    <div class="track-image">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="track-info">
                        <h3>{{trackName}}</h3>
                        <p>Artist: {{artistName}}</p>
                    </div>
                </div>
                {{!-- <div class="result">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    <h3>{{name}}</h3>
                </div> --}}
            {{/each}}
    </div>
</div>