{{!-- <link rel="stylesheet" href="../../public/css/tracks.css"> --}}

<div class="container">    

    <nav id="navbar" class="spotify-data">
        <a href="/users/dashboard" class="nav-option">Profile</a>
        <a href="/users/toptracks" class="nav-option">Top 50 Tracks</a>
        <a href="/users/topartists" class="nav-option">Top 50 Artists</a>
        <a href="/users/dailyplaylist" class="nav-option nav-active">Daily Playlist</a>
        <a href="friends" class="nav-option">Friends</a>
        <a href="/users/logout" class="nav-option logout">Logout</a>
    </nav>

    <div class="results">
        <h2>Daily Playlist</h2>
        <div class="results-container">
            {{#each dailyPlaylist}}
                <div class="track-item">
                    <div class="track-image">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="track-info">
                        <h3>{{trackName}}</h3>
                        <p>Artist: {{artistName}}</p>
                        <p>Album: {{albumName}}</p>
                    </div>
                </div>
                {{!-- <div class="result">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    <h3>{{name}}</h3>
                </div> --}}
            {{/each}}
    </div>
</div>