<div class="Dashboard">    

    <nav id="navbar" class="spotify-data">
        <a href="/users/dashboard" class="nav-option nav-active">Profile</a>
        <a href="/users/toptracks" class="nav-option">Top 50 Tracks</a>
        <a href="/users/topartists" class="nav-option">Top 50 Artists</a>
        <a href="/users/dailyplaylist" class="nav-option">Daily Playlist</a>
        <a href="friends" class="nav-option">Friends</a>
        <a href="/users/logout" class="nav-option logout">Logout</a>
    </nav>

    <div id="user-info">
        {{#if userInfo.profilePhoto}}
            <img src="{{userInfo.profilePhoto}}" alt="Profile Picture" class="profile-photo" width="200" height="200">
        {{else}}
            <img src="../../public/images/default_photo.jpg" alt="Default Profile Picture" class="profile-photo" width="200" height="200">
        {{/if}}
        <h2>{{user.display_name}}</h2>
        <p>Likes: {{likeCount}}</p>
    </div>

    <div class="card postcomments px-2">
        <input type="hidden" name="users_id" id="users" value="{{userInfo._id}}" />
        <div class="form-group mt-2">
            <form id="comments-form" method="POST" action="/comments/{{userInfo._id}}">
                <label class="commentText" for="commentText">Enter a comment</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="commentText" name="commentText" placeholder="Enter comment here" />
                    <div class="input-group-append">
                        <span class="input-group-button" id="basic-addon2">
                            <button type="button" id="submit-comment" class="btn btn-primary">Add Comment</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div id="empty-comment" class="alert alert-info div-text" hidden></div>
        <div id="comment-area">
            {{#each userInfo.comments}}
            <div class="chat">
                <div class="yours messages">
                    <div class="message last">
                        {{this.comment}}
                    </div>
                    <div class="bold"> - {{this.username}}</div>
                    <hr>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="error-message"></div>
    <div>  
        {{#if error}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </div>

</div>
