<div class="container">    
    <div class="user-info">
        <img src="{{profilePicture}}" alt="Profile Picture" class="img-thumbnail" width="200" height="200">
        <h2>{{username}}</h2>
        <p>Likes: {{likeCount}}</p>
    </div>
    <label for="timeframe">Select Timeframe:</label>
    <select id="timeframe" name="timeframe">
        <option value="4weeks">4 Weeks</option>
        <option value="6months">6 Months</option>
        <option value="alltime">All-Time</option>
    </select>
    <div class="spotify-data">
        <button type="button" href="./top-songs.handlebars">Top 50 Songs</button>
        <button type="button" href="./top-artists.handlebars">Top 50 Artists</button>
        <button type="button" href="./daily-playlist.handlebars">Daily Playlist</button>
    </div>
    <div class="results">
        <h2>Top 50 Songs</h2>
        <div class="results-container">
            {{#each topSongs}}
                <div class="result">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    <h3>{{name}}</h3>
                    <p>Artist: {{artist}}</p>
                </div>
            {{/each}}
    </div>
</div>